@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,900;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    
}

.media input  {
    justify-content: center;
    font-family:'Roboto';
    display: flex;
    align-items: center; 
     
}

    .text input{
      font-weight: 600; 
      font-size: 24px; 
      text-align: center;
      border-radius: 50px;
      cursor: pointer;
      padding: 10px;
      border-color: rgb(0, 0, 0);
      justify-content: center;
      
      
}
    .text input:hover{
        background-color: rgb(175, 133, 186);


    }
    

